@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

.sessao-cabecalho {
    position: relative;
    background-image: url('loja.png');
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 0px;
    color: #FFFFFF;
}

.menu {
    position: absolute;
    width: 20px;
    height: 2px;
    left: 40px;
    top: 25px;
}

.menu .menu-image {
    padding: 0px;
}

.barra {
    position: absolute;
    width: 32px;
    height: 4px;
    left: 85px;
    top: 100px;
    border-radius: 10px;
}

.barra2 {
    position: absolute;
    width: 32px;
    height: 4px;
    left: 60px;
    top: 85px;
    border-radius: 10px;
}

.barra3 {
    position: absolute;
    width: 32px;
    height: 4px;
    left: 78px;
    top: 85px;
    border-radius: 10px;
}

.sessao-cabecalho .itens{
    align-items: center;
    text-align: center;
}

.sessao-cabecalho h1 {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    left: 50%;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    padding: 20px;
    
}
.sessao-cabecalho img {
    float: right;
    top: 15px;
    right: 17.86%;
    margin-top: 25px;
    margin-right: 5.86%;
}

.sessao-cabecalho .text-cabecalho {
    position: absolute;
    width: 704px;
    height: 264px;
    left: 80px;
    top: 150px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
}

.sessao-cabecalho span {
    position: absolute;
    width: 459px;
    height: 80px;
    left: 80px;
    top: 450px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
}

.sessao-cabecalho .small-icone {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 80px;
    top: 600px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    transform: rotate(-180deg);
}

.sessao-cabecalho .icone {
    margin: 10px;
}

.sessao-cabecalho .small-icone2 {
    position: absolute;
    padding-right: 5px;
    width: 40px;
    height: 40px;
    left: 130px;
    top: 599px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    transform: rotate(-180deg);
}

.sessao-cabecalho .icone2 {
    margin: 10px;
}

/*Sessão sessao-cafe-expresso*/

.sessao-cafe-expresso {
    margin-top: 70px;
    margin-left: 50px;
}

.sessao-cafe-expresso img {
    height: 480px;
    width: 585px;
}

.sessao-cafe-expresso .text-cafe {
    position: absolute;
    width: 581px;
    height: 60px;
    left: 710px;
    top: 804px;
}

.sessao-cafe-expresso h2 {
    /* Coffee / Head / Bold 56 */

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
}

.sessao-cafe-expresso p {
    margin-top: 20px;
    width: 600px;
    height: 170px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
}

.sessao-cafe-expresso2 {
    margin-top: 90px;
    margin-left: 50px;
}

.sessao-cafe-expresso2 .text-cafe2 {
    position: absolute;
    width: 581px;
    height: 60px;
}

.sessao-cafe-expresso2 h2   {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
}

.sessao-cafe-expresso2 p {
    font-family: 'Gilroy';
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
}

.sessao-cafe-expresso2 img {
    height: 540px;
    width: 650px;
    float: right;
    margin-right: 50px;
}

.card-produto {
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 5px;
    top: 1890px;
}

.card-produto h3 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #A0996C;
}

.card-produto .lista-produto {
    margin: 10px;
    width: 392px;
    height: 430px;
    background: #F7F1E6;
    border-radius: 8px;
    display: inline-block;
}

.titulo-h4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
}

.dados-produto {
    position: absolute;
    top: 15%;
    margin-left: 9.5%;
}

.dados-produto2 {
    position: absolute;
    top: 62%;
    margin-left: 9.5%;
}

.preco {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
}

.preco span {
    left: 53.59%;
    right: 32.03%;
    top: 66.43%;
    bottom: 28.57%;
    
    /* Coffee / Body / Medium 24 */
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    
    letter-spacing: 0.04em;
    
    /* Grey */
    
    color: #969696;
}

.button {
    margin-top: 20px;
    margin-left: -94px;
    width: 340px;
    height: 55px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background: #0B1D03;
    border-radius: 4px;
}

.detalhes {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 2960px;
    background: #FFFCF6;
}

.ul-li{
    margin: 20px;
    text-align: center;
}
.ul-li li {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
}

.text-li {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #0B1D03;
}

.detalhes-img {
    margin-left: 64px;
    display: inline-flex;
    justify-items: center;
    
}

.datalhes-imagem1 {
    background-image: url('semente-cafe.png');
    width: 600px;
    height: 560px;
    margin-right: 10px;
}

.datalhes-imagem2 {
    background-image: url('bule.png');
    width: 600px;
    height: 560px;
    margin-left: 10px;
}

.detalhes-text {
    position: absolute;
    width: 446px;
    height: 60px;
    left: 120px;
    top: 500px;
    color: #FFFCF6;
    padding: 10px;
}

.detalhes-text2 {
    position: absolute;
    width: 446px;
    height: 60px;
    left: 750px;
    top: 500px;
    color: #FFFCF6;
}

.detalhes-text p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 10px;
}

.detalhes-text span {
    font-family: Gilroy, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
}

.detalhes-text2 p {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 10px;
}

.detalhes-text2 span {
    font-family: Gilroy, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
}

.enedereco {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 3780px;
    background: #FFFFFF;
    padding-left: 62px;
    padding-right: 62px;
}

.enedereco h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #0B1D03;
}
.enedereco img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.form {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
}
.form select {
    width: 420px;
    height: 36px;
    padding-left: 10px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
}

.form input {
    width: 786px;
    height: 36px;
    margin-left: 15px;
    padding-left: 15px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
}

.rodape {
    position: absolute;
    width: 100%;
    height: 306px;
    left: 0px;
    top: 4390px;
    background: #F7F1E6;
    padding-left: 62px;
    padding-right: 62px;
    display: inline-block;
}

.rodape h3 {
    position: absolute;
    margin-top: 20px;
    padding-top: 56px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0B1D03;
}


.rodape ul {
    display: inline-block;
    padding-top: 50px;
    padding-left: 100px;
}

.rodape .dado-empresa {
    margin-top: 20px;
    margin-left: 200px;
}

.sobre-empresa {
    position: absolute;
    left: 200px;
}

.sobre-empresa .header {
    padding-top: 5px;
    padding-bottom: 7px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;

    /* Sneak / Black */

    color: #1F1F1F;
}

.sobre-empresa a:link {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
}

.produto-rodape {
    position: absolute;
    left: 550px;
}

.produto-rodape .header {
    padding-top: 5px;
    padding-bottom: 10px;
}

.produto-rodape a:link {
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
}



.redes-sociais {
    position: absolute;
    left: 900px;
}
.redes-sociais .header {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;

    /* Sneak / Black */

    color: #1F1F1F;
}

.redes-sociais .redes {
    display: inline-block;
    margin-right: 10px;
}

.rodape-desenvolvedor {
    position: absolute;
    left: 37.5%;
    top: 280px;
}

.rodape-desenvolvedor p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
}

